@import 'variables';

:global {
    .color--blue-light {
        color: $color-blue-light !important;
    }

    .bg--blue-light {
        background-color: $color-blue-light !important;
    }

    .color--blue {
        color: $color-blue !important;
    }

    .bg--blue {
        background-color: $color-blue !important;
    }

    .color--black {
        color: $color-black !important;
    }

    .bg--black {
        background-color: $color-black !important;
    }

    .color--white {
        color: $color-white !important;
    }

    .bg--white {
        background-color: $color-white !important;
    }

    .color--white-dimmed {
        color: $color-white-dimmed !important;
    }

    .bg--white-dimmed {
        background-color: $color-white-dimmed !important;
    }

    .color--white-dimmed-strong {
        color: $color-white-dimmed-strong !important;
    }

    .bg--white-dimmed-strong {
        background-color: $color-white-dimmed-strong !important;
    }

    .color--grey {
        color: $color-grey !important;
    }

    .bg--grey {
        background-color: $color-grey !important;
    }

    .color--grey-light {
        color: $color-grey-light !important;
    }

    .bg--grey-light {
        background-color: $color-grey-light !important;
    }

    .color--grey-lightest {
        color: $color-grey-lightest !important;
    }

    .bg--grey-lightest {
        background-color: $color-grey-lightest !important;
    }

    .color--red {
        color: $color-red !important;
    }

    .bg--red {
        background-color: $color-red !important;
    }

    .color--orange {
        color: $color-orange !important;
    }

    .bg--orange {
        background-color: $color-orange !important;
    }

    .color--green {
        color: $color-green !important;
    }

    .bg--green {
        background-color: $color-green !important;
    }

    .color--green-alt {
        color: $color-green-alt !important
    }

    .bg--green-alt {
        background-color: $color-green-alt !important;
    }

    .color--green-light {
        color: $color-green-light !important;
    }

    .bg--green-light {
        background-color: $color-green-light !important;
    }

    .bg--red-light {
        background-color: $color-red-light !important;
    }

    .color--red-light {
        color: $color-red-light !important;
    }

    .bg--brown-light {
        background-color: $color-brown-light !important;
    }

    .color--brown-light {
        color: $color-brown-light !important;
    }

    .bg--purple {
        background-color: $color-purple !important;
    }

    .color--purple {
        color: $color-purple !important;
    }

    .bg--turquoise {
        background-color: $color-turquoise !important;
    }

    .color--turquoise {
        color: $color-turquoise !important;
    }
}
