@font-face {
    font-family: 'Avenir Next';
    src: url('./AvenirNextRegular.woff2') format('woff2'), url('./AvenirNextRegular.woff') format('woff'), url('./AvenirNextRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./AvenirNextMedium.woff2') format('woff2'), url('./AvenirNextMedium.woff') format('woff'), url('./AvenirNextMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('./AvenirNextDemibold.woff2') format('woff2'), url('./AvenirNextDemibold.woff') format('woff'), url('./AvenirNextDemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
