<!DOCTYPE html>
<html>
    <head>
        <title>react-frp-template</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body x-ms-format-detection="none">
        <div id="root" class="app">
        </div>
        <script type="text/javascript" src="<%= webpackConfig.output.publicPath %>assets/scripts/vendor.js?v=<%= webpackConfig.output.version %>"></script>
    </body>
</html>
